<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="container" :style="styles">
            <!-- <label for="themeBlack">
                <input type="checkbox" :checked="themeBlack" name="themeBlack" id="themeBlack"> Tema escuro
 
            </label> -->

            <div class="d-flex">
                <div class="checkbox-wrapper-54">
                    <label class="switch">
                        <input type="checkbox" :checked="themeBlack" @click="toogleTheme" name="themeBlack"
                            id="themeBlack">
                        <span class="slider"></span>
                    </label>
                </div>

                <h4 class="cart-value"> <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="6" cy="19" r="2"></circle>
                        <circle cx="17" cy="19" r="2"></circle>
                        <path d="M17 17h-11v-14h-2"></path>
                        <path d="M6 5l14 1l-1 7h-13"></path>
                    </svg> ( <span class="cart"> {{ cart.length }}</span> )</h4>
            </div>

            <h1>{{ title }}</h1>
            <p style="text-align: center;">{{fullName}} </p>

            <ul>
                <li v-for="(product, index) in products" :key="index">
                    <div class="headerwrap">
                        <img v-bind:src="product.image" v-bind:alt="product.title">
                    </div>

                    <div class="description">
                        <h3>{{ product.title }}</h2>
                            <div class="stars">
                                <strong v-if="product.stars === 0">{{product.stars}} 0</strong>
                                <strong v-else-if="product.stars === 1">⭐</strong>
                                <strong v-else-if="product.stars === 2">⭐⭐</strong>
                                <strong v-else-if="product.stars === 3">⭐⭐⭐</strong>
                                <strong v-else-if="product.stars === 4">⭐⭐⭐⭐</strong>
                                <strong v-else-if="product.stars === 5">⭐⭐⭐⭐⭐</strong>
                            </div>

                            <p class="text-description">{{ product.description}}</p>
                    </div>

                    <button v-if="inCart(product)" class="button-87 button-disabled" v-on:click.prevent="removeCart(product)">
                        REMOVE CART
                    </button>

                    <button class="button-87" v-on:click.prevent="addCart(product)" v-else>
                        ADD CART
                    </button>


                </li>
            </ul>
            <hr>
        </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>

</body>

</html>