body {
    /* background-color: #100328;
    color: white; */
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #07e5cf;
    text-align: center;
}

img {
    border-radius: 4px;
    width: 100%;
}

ul {
    display: flex;
    text-align: center;
    padding: 0;
    /* max-width: 1000px; */
    overflow-x: auto;
}

li {
    list-style-type: none;
    margin-right: 20px;
    width: calc(230px - 10px);
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-value{
    display: flex;
    align-items: center;
}
.text-description {
    width: 225px;
    height: 54px;
    overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container {
    /* max-width: 1000px; */
    padding: 20px;

}

.headerwrap {
    max-width: 250px;
    border-radius: 4px;
    position: relative;
}

.headerwrap:after {
    content: "";
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(13, 13, 13) 60%);
    width: 220px;
    height: 101px;
    bottom: 0;
    left: 0;
    border-radius: 8px;
}

.cart {
    color: #FF512F;
}

.description {
    max-width: 250px;
    margin-top: -53px;
    z-index: 2;
    position: relative;
}

.stars {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-87 {
    width: 100%;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #009688;
    background-image: linear-gradient(45deg, #009688 0%, #4caf50 51%, #8bc34a 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 20px;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}

.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
}

/* The slider */
.checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    ;
    transition: .4s;
}

.checkbox-wrapper-54 input:checked+.slider {
    background-color: #303136;
}

.checkbox-wrapper-54 input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}